.login {
    width: 38%;
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: white;
    padding-top: 4rem;
    padding-bottom: 5rem;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.caption {
    font-size: 3rem;
    margin-top: 0;
}

.formItem {
    font-size: 1rem;
    margin: 0.5rem 0;
}

.formItem input {
    background-color: #f8f8f8;
    border: none;
    border: 1px solid rgb(163, 163, 163);
    height: 2rem;
    width: 22rem;
    font-size: 1rem;
    margin-left: 0.5rem;
    font-family: inherit;
    padding: 0 0.5rem;
    color: var(--main-text);
}

.formItem input:focus {
    outline: none;
}

.buttonLogIn {
    width: 50%;
    align-self: center;
    margin-top: 2.5rem;
    margin-bottom: 1rem;
    height: 3rem;
    font-size: 1rem;
    background-color: var(--dark-yellow);
    color: white;
    border: none;
    font-family: inherit;
    cursor: pointer;
}

.buttonLogIn:hover,
.buttonLogIn:active {
    color: var(--dark-yellow);
    background-color: #fff4df;
    border: 1px solid var(--dark-yellow);
}

.registerLink {
    font-size: 0.8rem;
    color: var(--dark-yellow);
    align-self: center;
}

.errorMessage {
    height: 1.3rem;
    color: rgba(180, 0, 0, 0.9);
    font-size: 0.75rem;
    text-align: center;
    margin-left: 1.5rem;
    font-weight: bold;
    width: 100%;
}

@media (max-width: 68rem) {
    .login {
        width: 50%;
    }

    .caption {
        font-size: 2.5rem;
    }

    .formItem input {
        width: 19rem;
    }
}

@media (max-width: 50rem) {
    .login {
        width: 60%;
    }
}

@media (max-width: 40rem) {

    .login {
        width: 100%;
    }
}