.info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-align: left;
}

.infoColumn {
    display: flex;
    width: 27%;
    justify-content: space-between;
}

.textBold {
    font-weight: bold;
}

.descriptionWrapper {
    padding: 3rem 0;
}

.descriptionQuestion {
    font-size: 1.2rem;
    font-weight: bold;
    width: 100%;
    text-align: left;
}

.descriptionUnderline {
    height: 0.4rem;
    width: 5rem;
    background-color: var(--yellow);
    margin: 1rem 0;
}

.description {
    background-color: white;
    box-shadow: 2px 2px 15px #cfcfcf;
    padding: 2rem;
    text-align: left;
}

@media(max-width: 60rem) {
    .info {
        flex-direction: column;
    }

    .infoColumn {
        width: 100%;
        align-self: center;
        margin-bottom: -1rem;
    }

    .info p {
        border-bottom: 1px solid #c7c7c7;
        padding-bottom: 1rem;
        padding-left: 1rem;
    }

    .label { 
        width: 50%;
    }

    .value {
        width: 50%;
        text-align: left;
    }
}

@media(max-width: 40rem) {
    .infoColumn {
        width: 100%;
    }
}
