.component {
    margin: 2rem 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1.5rem;
}

@media(max-width: 65rem) {
    .component {
        grid-template-columns: 1fr;
    }
}