.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 3rem;
    background-color: #356c91;
    color: white;
    padding: 0 2rem;
}

.link {
    text-decoration: none;
    color: white;
    padding: 0.5rem 1rem;
    font-size: 0.95rem;
}

.link:hover,
.link:active {
    background-color: rgba(255, 255, 255, 0.6);
    color: #356c91;
}

.menuIcon {
    display: none;
    cursor: pointer;
}

.mobileNav {
    position: fixed;
    z-index: 101;
    top: 0;
    right: 0;
    background-color: #356c91;
    width: 60%;
    height: 100vh;
}

.mobileNavLinks {
    display: flex;
    flex-direction: column;
    margin-top: 30%;
}

.mobileLink {
    text-decoration: none;
    color: white;
    padding: 0.5rem 2rem;
    font-size: 0.95rem;
}

.mobileLink:hover,
.mobileLink:active {
    background-color: rgba(255, 255, 255, 0.6);
    color: #356c91;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
}

@media (max-width: 40rem) {
    .link {
        display: none;
    }

    .menuIcon {
        display: inline;
    }
}