.starYes {
    color: var(--yellow);
    height: 1.5rem;
    width: 1.5rem;
    cursor: pointer;
}

.starNo {
    color: #cfcfcf;
    height: 1.5rem;
    width: 1.5rem;
    cursor: pointer;
}

@media(max-width: 40rem) {
    .starNo,
    .starYes {
        width: 0.9rem;
        height: 0.9rem;
    }
}