.component {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search {
    width: 80%;
    display: flex;
    align-items: center;
    padding-left: 0.5rem;
    margin-top: 1rem;
    background-color: #f8f8f8;
    border: 1px solid var(--border-gray);
    height: 2.5rem;
}

.icon {
    color: rgb(91, 91, 91);
}

.search input{
    background-color: transparent;
    border: none;
    width: 100%;
    font-size: 1rem;
    padding-left: 0.5rem;
    font-family: inherit;
    color: var(--main-text);
}

.search input:focus {
    outline: none;
}

.button {
    width: 20%;
    height: 2.6rem;
    font-size: 1rem;
    background-color: var(--dark-yellow);
    color: white;
    border: 1px solid var(--dark-yellow);
    font-family: inherit;
    cursor: pointer;
    margin-right: -1px;
}

.button:hover,
.button:active {
    color: var(--dark-yellow);
    background-color: #fff4df;
    border: 1px solid var(--dark-yellow);
}

@media (max-width: 40rem) {

    .search input {
        font-size: 0.8rem;
    }

    .button {
        font-size: 0.8rem;
    }
}