.login {
    width: 38%;
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: white;
    padding-top: 3rem;
    padding-bottom: 4rem;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.caption {
    font-size: 3rem;
    margin-top: 0;
}

.formItem,
.select {
    font-size: 1rem;
}

.formItem input,
.select {
    background-color: #f8f8f8;
    border: none;
    border: 1px solid rgb(163, 163, 163);
    height: 2rem;
    width: 22rem;
    font-size: 1rem;
    margin-left: 0.5rem;
    padding-left: 0.5rem;
    font-family: inherit;
    color: var(--main-text);
}

.select {
    outline: none;
    width: 22.8rem;
    height: 2.25rem;
    color: #727272;
}

.formItem input:focus {
    outline: none;
}

.buttonLogIn {
    width: 50%;
    align-self: center;
    margin-top: 2rem;
    margin-bottom: 1rem;
    height: 3rem;
    font-size: 1rem;
    background-color: var(--dark-yellow);
    color: white;
    border: none;
    font-family: inherit;
    cursor: pointer;
}

.buttonLogIn:hover,
.buttonLogIn:active {
    color: var(--dark-yellow);
    background-color: #fff4df;
    border: 1px solid var(--dark-yellow);
}

.registerLink {
    font-size: 0.8rem;
    color: var(--dark-yellow);
    align-self: center;
}

.formItem .errorInput,
.select.errorInput {
    border: 2px solid rgba(180, 0, 0, 0.9);
}

.errorMessage {
    height: 1.3rem;
    color: rgba(180, 0, 0, 0.9);
    font-size: 0.75rem;
    text-align: left;
    font-weight: bold;
    width: 100%;
    margin-left: 0.5rem;
}

.errorMessagePasswordWeak {
    color: rgb(255, 208, 0);
}

.password {
    position: relative;
}

.password .tooltip {
    visibility: hidden;
    width: 20rem;
    height: auto;
    background-color: rgb(39, 39, 39);
    color: white;
    font-size: 0.9rem;
    text-align: left;
    word-wrap: normal;
    border-radius: 6px;
    padding: 0.3rem;

    position: absolute;
    z-index: 1;
    bottom: 2.5rem;
}

.password:hover .tooltip {
    visibility: visible;
}

.formItem .mediumStrengthPassword {
    border: 2px solid rgb(255, 208, 0);
}

.passwordStrong {
    border: 2px solid rgb(67, 148, 0);
}

@media (max-width: 68rem) {
    .login {
        width: 50%;
    }

    .caption {
        font-size: 2.5rem;
    }

    .formItem input {
        width: 19rem;
    }

    .select {
        width: 19.75rem;
    }
}

@media (max-width: 50rem) {
    .login {
        width: 70%;
    }
}

@media (max-width: 40rem) {

    .login {
        width: 100%;
    }
}