.login {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8vh;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

h1 {
    font-size: 3.5rem;
}

.formItem,
.select {
    font-size: 1rem;
    margin: 0.5rem 0;
}

.formItem input,
.checkbox,
.select {
    background-color: #ededed;
    border: none;
    border-bottom: 2px solid #ddd;
    height: 2rem;
    width: 22rem;
    font-size: 1rem;
    margin-left: 0.5rem;
    padding-left: 0.5rem;
    font-family: inherit;
}

.select {
    outline: none;
    width: 22.6rem;
}

.checkbox {
    border-bottom: 2px solid #ebebeb;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: #333333;
}

.checkbox > input {
    margin: 0;
    margin-right: 0.5rem;
    width: auto;
}

.formItem input:focus {
    outline: none;
}

.buttonLogIn {
    width: 50%;
    align-self: center;
    margin-top: 3rem;
    margin-bottom: 1rem;
    height: 3rem;
    font-size: 1rem;
    background-color: #356c91;
    color: white;
    border: none;
    font-family: inherit;
    cursor: pointer;
}

.buttonLogIn:hover,
.buttonLogIn:active {
    color: #356c91;
    background-color: rgba(53, 108, 145, 0.3);
    border: 1px solid #356c91;
}

.registerLink {
    font-size: 0.8rem;
    color: #244861;
    align-self: center;
}

@media (max-width: 60rem) {
    h1 {
        font-size: 3rem;
    }

    .formItem input,
    .checkbox {
        width: 19rem;
    }

    .select {
        width: 19.6rem;
    }

    .checkbox > input {
        width: auto;
    }
}

@media (max-width: 40rem) {

    .login {
        width: 100%;
        margin-top: 2vh;
        margin-bottom: 10vh;
    }
}