.page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 3.5rem);
    padding-top: 3.5rem;

    background: url('../../images/bg2.jpg') center/cover;
}

.search {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.caption {
    color: white;
    font-size: 3.5rem;
    text-shadow: 1px 1px 5px #000000;
}

.formItem {
    display: flex;
    align-items: center;
    padding-left: 0.5rem;
    margin-top: 3rem;
    background-color: #f5f5f5;
    border: 1px solid var(--border-gray);
    height: 2.5rem;
    width: 100%;
}

.icon {
    color: rgb(91, 91, 91);
}

.formItem input{
    background-color: transparent;
    border: none;
    width: 100%;
    font-size: 1rem;
    padding-left: 0.5rem;
    font-family: inherit;
    color: var(--main-text);
}

.formItem input:focus {
    outline: none;
}

@media (max-width: 60rem) {

    .caption {
       font-size: 3rem;
    }

    .search {
        width: 70%;
    }
}

@media (max-width: 40rem) {

    .caption {
        font-size: 2.5rem;
    }

    .search {
        width: 85%;
    }
}

