.page {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.caption {
    font-size: 3rem;
    color: var(--main-text);
}

.underline {
    height: 0.3rem;
    background-color: var(--yellow);
    width: 20%;
    margin-bottom: 2rem;
}

@media (max-width: 60rem) {
    .caption {
        font-size: 2.6rem
    }
}

@media (max-width: 50rem) {
    .caption {
        font-size: 2.3rem
    }
}

@media (max-width: 40rem) {
    .caption {
        font-size: 1.7rem
    }
}