.page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('../../../images/bg2.jpg') center/cover;
}

@media (max-width: 40rem) {
    .page {
        flex-direction: column;
    }
}

.form {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    justify-content: center;
    background-color: #ffff;
    width: 35rem;
}

.formItem {
    font-size: 1rem;
    margin: 0.5rem 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.error{
    color: red;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    font-size: 1rem;
}

.error > label{
    width: 50%;
}

.formItem input {
    background-color: rgb(235, 235, 235);
    border: none;
    height: 2rem;
    width: 22rem;
    font-size: 1rem;
    font-family: inherit;
    padding: 0 0.5rem;
}

.formItem .textarea{
    background-color: rgb(235, 235, 235);
    border: none;
    min-height: 2rem;
    width: 22rem;
    font-size: 1rem;
    font-family: inherit;
    padding: 0.3rem 0.5rem;
    resize: none;
}

.formItem input:hover {
    background-color: rgb(226, 226, 226);
}

.textarea:focus{
    outline: none;
}
.formItem.textarea input:focus {
    outline: none;
}

.buttonLogIn {
    width: 100%;
    max-width: 23rem;
    align-self: center;
    margin-top: 3rem;
    margin-bottom: 1rem;
    height: 3rem;
    font-size: 1rem;
    background-color: var(--yellow);
    color: white;
    border: none;
    font-family: inherit;
}

.buttonLogIn:hover,
.buttonLogIn:active {
    background-color: #ffff;
    color: var(--yellow);
    border: 1px solid var(--yellow);
}

.buttonBack {
    width: 100%;
    max-width: 23rem;
    align-self: center;
    margin-bottom: 1rem;
    height: 3rem;
    font-size: 1rem;
    border: none;
    font-family: inherit;
}

@media (max-width: 60rem) {

    .formItem input {
        width: 19rem;
    }

    .error{
        font-size: 0.8rem;
    }
    .error > label{
        width: 70%;
    }
}

@media (max-width: 40rem) {

    .login {
        width: 100%;
        margin-top: 2vh;
        margin-bottom: 15vh;
    }
}

.select{
    width: 23rem;
    height: 2.5rem;
    cursor: pointer;
    background-color: #eae9e7;
    border: none;
    padding: 0 0.5rem;
}

.select:focus {
    outline: none;
}

.formLabel {
    font-size: 0.9rem;
    margin-bottom: 0.2rem;
}

.companyLabel{
    width: 100%;
    background-color:#eae9e7 ;
    height: 2.5rem;
    text-align: start;
}