@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

:root {
    --yellow: #ffa500;
    --dark-yellow: #ed9a00;
    --darker-yellow: #d08701;
    --main-text: #3b3b3b;
}

body {
    margin: 0;
    font-family: 'Lato', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}