.page {
    padding: 1rem 7%;
    padding-top: 3.5rem;
}

.descriptionWrapper {
    padding-top: 3rem;
    padding-bottom: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.descriptionQuestion {
    font-size: 1.2rem;
    font-weight: bold;
    width: 100%;
    text-align: left;
}

.descriptionUnderline {
    height: 0.4rem;
    width: 5rem;
    background-color: var(--yellow);
    margin-top: 1rem;
}

.content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
}

.inputForm {
    text-align: left;
    margin-bottom: 1rem;
}

.inputLabel {
    margin-top: 0;
    margin-bottom: 0.2rem
}

.input, .textarea {
    background-color: white;
    border: none;
    border: 1px solid rgb(163, 163, 163);
    height: 2rem;
    width: calc(100% - 1rem);
    font-size: 1rem;
    font-family: inherit;
    padding: 0 0.5rem;
    color: var(--main-text);
}

.input:focus, .textarea:focus {
    outline: none;
}

.input:disabled, .textarea:disabled {
    background-color: #efefef;
}

.textarea {
    height: 11rem;
}

.buttons {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.button {
    width: 15%;
    align-self: center;
    height: 2.5rem;
    font-size: 0.9rem;
    background-color: var(--dark-yellow);
    color: white;
    border: none;
    font-family: inherit;
    cursor: pointer;
    margin-left: 1rem;
}

.button:hover,
.button:active {
    color: var(--dark-yellow);
    background-color: #fff4df;
    border: 1px solid var(--dark-yellow);
}

.errorMessage {
    height: 1.3rem;
    color: rgba(180, 0, 0, 0.9);
    font-size: 0.75rem;
    text-align: left;
    font-weight: bold;
    width: 100%;
    margin-left: 0.5rem;
}

.errorInput, .errorTextarea {
    border: 1px solid rgba(180, 0, 0, 0.9);
}

@media(max-width: 50rem) {
    .descriptionWrapper {
        flex-direction: column;
        align-items: flex-start;
    }

    .buttons {
        margin-top: 1rem;
        align-self: flex-end;
        width: 100%;
    }

    .button, .buttonPassword {
        width: 25%;
        align-self: flex-end;
    }

    .content {
        grid-template-columns: 1fr;
        grid-gap: 0;
    }
}