.cover {
    height: 30vh;
    background: url('../../../../images/syn-bg.jpg') center/cover;
    padding-top: 3.5rem;
}

.page {
    padding: 1rem 7%;
    display: flex;
    flex-direction: column;
}

.mainInfoWrapper {
    position: relative;
    bottom: 5rem;
    left: 0;

    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.mainInfo {
    display: flex;
    align-items: flex-end;
}

.profilePhoto {
    width: 10rem;
    height: 10rem;
    border: 2px solid #686868;
}

.profileInfo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 2rem;
}

.companyName {
    margin: 0;
}

.stars {
    display: flex;
    align-items: center;
    margin-top: 1rem;
}

.rate {
    font-weight: bold;
    font-size: 1rem;
    margin-left: 0.5rem;
    margin-bottom: 0;
    margin-top: 0;
}

.avgRate {
    font-size: 0.8rem;
    color: #929292;
    margin: 0;
}

.button {
    width: 18%;
    height: 2.6rem;
    font-size: 1rem;
    background-color: var(--yellow);
    color: white;
    border: 1px solid var(--yellow);
    font-family: inherit;
    cursor: pointer;
}

.button:hover,
.button:active {
    color: var(--dark-yellow);
    background-color: #fff4df;
    border: 1px solid var(--dark-yellow);
}

@media(max-width: 40rem) {
    .page {
        font-size: 0.9rem;
    }

    .mainInfoWrapper {
        flex-direction: column;
        bottom: 2rem;
    }

    .mainInfo {
        width: 100%;
    }

    .button {
        width: 60%;
        align-self: center;
        margin-top: 3rem;
    }

    .profilePhoto {
        height: 6rem;
        width: 6rem;
    }

    .profileInfo {
        margin-left: 1rem;
    }

    .companyName {
        font-size: 1.2rem;
    }

    .rate {
        font-size: 0.9rem;
    }
    
    .avgRate {
        font-size: 0.6rem;
    }
}