.page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    background: url('../../images/bg2.jpg') center/cover;
}


@media (max-width: 40rem) {
    .page {
        flex-direction: column-reverse;
    }
}